* {
    box-sizing: border-box;
}
/* Clases (A-Z)*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row::after {
	content: "";
	clear: both;
	display: block;
}
.tg  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#ccc;
	width: 100%;
	margin-bottom: 1em;
}
/* Identificadores (A-Z) */
#info_cliente { margin-bottom: 1em; }
/* Etiquetas nativas (A-Z) */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #333;
  font-size: 14px;
  text-align: center;
}
img { max-width: 14em; }
p { text-align: right; }
table { border-collapse:collapse;border-spacing:0; }
.tg td {
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 8px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
}
.tg th {
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:10px 8px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
}