.letras_blancas { color: white; }
.polux { background-color: #348E63; }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
input[type=text] {
	border-bottom: 1px solid #FFF;
	color: #FFF;
}
.input-field label {
	color: #FFF;
}